* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('../assets/images/bg-mobile-dark.jpg') no-repeat top center/cover;
}

body * {
  font-family: 'Inter', sans-serif;
  color: #fff;
}

#container {
  width: 360px;
  border: 1px solid red;
  margin: 0 auto;
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}